################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CatalogKSDemo1/.vs/CatalogKSDemo1/v16
/CatalogKSDemo1/CatalogKSDemo1/obj/Debug/netcoreapp3.1
/CatalogKSDemo1/CatalogKSDemo1/obj
